.console-container {
    font-family:poppins;
    font-size:4em;
    font-weight: bold;
    text-align:center;
    height:125px;
    width:700px;
    display:block;
    position:relative;
    color:black;
    margin-left:330px;
    margin-top: 10px; 
   }
    .console-underscore {
     display:inline-block;
     position:relative;
     top:-0.14em;
     left:10px;
     } 
     .hidden {
       opacity:0;
     }